nav {
    margin: -8px -8px 8px -8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li:last-child {
    border-right: none;
}

nav li:not(:first-child) a {
    padding: 16px;
}

nav li:not(:first-child) {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #444;
}

nav .active {
    background-color: #4f86f7;
}
